/* Banner */

@font-face {
    font-family: blackwoodcastle;
    src: url(blackwoodcastle.ttf);
}

header {
    font-family: blackwoodcastle;
    color: #194545;
    font-size: 4em;
    text-align: left;
}

header a {
    color: #194545;
    text-decoration: none;
}

/* Headers */


h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: #194545;
    width: 100%;
    text-align: center;
}

/* Navigation */

nav {
    background-color: #194545;
    height: 45px;
    padding: 20px 20px 0 20px;
}

nav ul {
    list-style-type: none;
    width: 180px;
    padding-left: 5px;
    display: inline;
    vertical-align: middle;
}

nav ul li {
    font-family: sans-serif;
    padding: 10px 30px 10px 0;
    display: inline;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    color: #FBEED4;
}

nav ul li:hover {
    background-color: #FBEED4;
}

nav ul li a:hover {
    color: #194545;
}

/* Body and contents */

body {
    background-color: #FBEED4;
}

table {
    border: 1px solid black;
    font-family: sans-serif;
}

th {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    color: #FBEED4;
    background-color: #194545;
}

td {
    vertical-align: middle;
    padding: 5px;
}

a.action-button {
    vertical-align: middle;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #FBEED4;
    background-color: #194545;
}

a.action-button:hover {
    color: #194545;
    background-color: #FBEED4;
    border: 1px solid #194545;
}
